.header__logo {
    width: 142px;
    height: 33px;
}

@media (max-width: 880px) {
    .header__logo {
        width: 125px;
        height: 29px;
    }
}

@media (max-width: 580px) {
    .header__logo {
        width: 104px;
        height: 25px;
    }
}