.popup__error {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 0 36px;
    color: #FF0000;
    visibility: hidden;
}

.popup__error_active {
    visibility: visible;
}