.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 520px;
}

@media (max-width: 880px) {
    .profile__name {
        max-width: 215px;
    }
}

@media (max-width: 580px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: end;
        max-width: 259px;
    }
}