.popup__button-close {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 32px;
    height: 32px;
    position: relative;
    left: 430px;
    top: -41px;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media (max-width: 596px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        left: 254px;
        top: -38px;
    }
}