.popup__container {
    background-color: white;
    width: 430px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

@media (max-width: 596px) {
    .popup__container {
        width: 282px;
    }
}