.card__like {
    margin: 30px 20px 0 0;
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.card__like:hover {
    opacity: 0.6;
}

.card__like:active {
    background-image: url("../../../images/like:active.svg");
    opacity: 1;
}