.footer {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 880px;
    padding-top: 70px;
    box-sizing: border-box;
}

@media (max-width: 895px) {
    .footer {
        width: 580px;
    }
}

@media (max-width: 596px) {
    .footer {
        width: 320px;
        padding: 50px 0 0 20px;
    }
}